@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,350,400);

html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol
{
  list-style-position: inside;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 400;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 400;

  color: rgb(3, 3, 3);
  background-color: rgb(228, 228, 228);

  margin-top: 60px;
}

article {
  box-shadow: 3px 3px 4px 1px rgba(190, 190, 190, 0.2);
}

.nomargin {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.posts {
  padding: 10px 20px 10px 20px;
  max-width: 960px;
}

.posts .post:first-child {
  margin: 0px 0px 10px 0px;
}

.posts .post {
  margin: 20px 0px 20px 0px;
}


.posts header h1 {
  color: rgb(1, 97, 253);
  font-size: 22pt;
  font-weight: 300;
}

.posts header h3 {
  color: rgb(153, 153, 153);
  font-size: 12pt;
  font-weight: 300;
}

.post header,
.post .post-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
}

.posts header {
  border-bottom: 2px dashed rgb(238, 238, 238);
}

.posts .post-content {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  margin: 0px;
}

.posts .post-content .about .avatar {
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 10px;
}

.posts footer {
  background-color: rgb(238, 238, 238);
  padding: 15px 10px 15px 10px;
  text-align: center;
  font-size: 12pt;
}

.posts pre {
  padding: 0px;
  margin: 10px 0px 10px 0px;
}

.post-nav-home {
  text-align: center;
}

.post-nav-prev {
  text-align: left;
}

.post-nav-next {
  text-align: right;
}

.navbar {
  color: rgb(241, 241, 241);
  background-color: rgb(24, 33, 61);
  text-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 4px 1px rgba(190, 190, 190, 0.2);
}


.navbar .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: rgb(66, 139, 202);
}

.navbar .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: rgb(86, 159, 222);
}

.navbar-default .navbar-nav > li > a {
  font-size: 18pt;
  transition: all 100ms ease-in-out;
  background-color: rgba(84, 93, 121, 0);
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(84, 93, 121, 1);
}


.navbar-default .navbar-nav > li > a:hover {
  font-size: 18pt;
}

.navbar-default .navbar-nav > li.active > a {
  color: #e7e7e7;
  background-color: rgb(54, 63, 91);
}

.navbar-default .navbar-nav > li.active > a:hover {
  color: #e7e7e7;
  background-color: rgba(84, 93, 121, 1);
}

section.comments {
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
}

.projects h2,
.small-projects h2 {
    margin-top: 40px;
}

.projects dl dt {
  margin-top: 20px;
}